{% extends 'base.html' %}

{% block content %}


<h3> Create your game</h3>

<div style="margin-left: 5%;">

  <div id="game-creator">
    <div id="step1" class="step">
      <h3>Step 1: Set game location and name</h3>
      <div id="map" style="height: 400px;width: 400px;"></div>
      <label>Game name:</label>
      <input type="text" id="game-name">
      <button id="next-btn" onclick="nextStep()">Next</button>
    </div>
    <div id="step2" class="step" style="display: none;">
      <h3>Step 2: Add caches</h3>
      <div id="map2" style="height: 400px;width: 400px;"></div>
      <div id="cache-info">
        <label>Cache name:</label>
        <input type="text" id="cache-name">
      </div>
      <div id="cache-hint">
        <label>Cache Hint:</label>
        <input type="text" id="cache-hint">
      </div>
      <p id="cache-count">Caches added: <span id="cache-count-num"></span>/10</p>
      <button id="next-btn" onclick="nextStep()">Next</button>
    </div>
    <div id="step3" class="step" style="display: none;">
      <h3>Step 3: Review game</h3>
      <div id="map3" style="height: 400px;width: 400px;"></div>
      <table id="cache-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Hint</th>
          </tr>
        </thead>
        <tbody id="cache-table-body"></tbody>
      </table>
      </div>
      
    </div>
    <div>
         <button id="finish-btn" onclick="finishGame()">Finish</button>    
        </div> 
  </div>

</div>
{% endblock %}