{% extends 'base.html' %}

{% block content %}
  <h5> 
    New Game Instances
  </h5>

  <form action="api/create_caches" method="post" id="cache_form">
      <input type="text" name="name">
      <input type="text" name="hint">
      <input type="number" name="long">
      <input type="number" name="lat">
      <input type="submit" value="create">
  </form>

  <script src="/static/main.js">
  </script>

  <div id="create_caches"></div>

  <a class="btn btn-danger" id="reset_game">
    Reset Game
  </a>

  <table class="table" id="supervise_participants">
      
  </table>


  <script>
    loadframe(`/game/${getUrlParam("id")}/caches`, "create_caches");
    const f = document.getElementById("cache_form");
    f.setAttribute("action", `api/create_caches/${getUrlParam("id")}`)
    document.getElementById("reset_game").setAttribute("href", `/api/reset_game/${getUrlParam("id")}`)
    loadframe(`/api/supervise/${getUrlParam("id")}/participants`, "supervise_participants");
  </script>
{% endblock %}