{% extends 'base.html' %}


{% block content %}
   <h4>
      Map
   </h4>

    <div id="form-container">
        <form>
            Latitud: <input type="text" id="lat"><br>
            Longitud: <input type="text" id="lng"><br>
            <input type="button" value="Ir" onclick="setCoordinates()">
          </form>           
        <form>
          Place: <input type="text" id="inputPlace">
          <button type="button" onclick="goToPlace()">Go to</button>
          <button type="button" onclick="addMarker()">Map</button>

        </form>
    <div id="mapa" class="mapa"></div>
    <table id="hints" class="table">
    </table>

    
 
    <script src="/static/main.js">
    </script>
    <script src="/static/map.js"></script>
    <script > 
      loadframe(`/api/map/${getUrlParam("id")}/hint`, "hints");
    </script>
  
{% endblock %}