{% extends 'base.html' %}

{% block content %}


<div class="row">
   <div class="col-md-4">
      <table class="table" style="width:100%">
         <thead>
            <tr>
               <th style="width:50%">Hint</th>
            </tr>
         </thead>
         <tbody>
            {% for cache in cachesGame %}
            <tr>
               <td>{{cache.hint}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="col-md-4">
      <div class="form-group">
         <form action="/upload-image" method="post" enctype="multipart/form-data">
            <label for="cache-name">Cache Name:</label>
            <input type="text" id="cache-name" name="cache-name" placeholder="Enter cache name">
            <br>
            <label for="cache-image">Upload Cache Image:</label>
            <input type="file" id="cache-image" name="cache-image">
            <br>
            <input type="submit" value="Upload">
         </form>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <script>var localizacion = "{{localizacion}}";</script>
      <div id="mapaJuego" style="height: 400px;width: 100%;"></div>
   </div>
</div>
<script src="static/mapaJuego.js"></script>

{% endblock %}