{% extends 'base.html' %}

{% block content %}

<h3> Supervise your game</h3>
<div style="margin-left: 5%;">
    <div id="game-creator">
      <div id="step1" class="step">
        <h3>Game:{{ game.name}} {{ game.location}} </h3>
        <script>var center = '{{ game.location}}'; var caches_list ='{{ game.caches}}' </script>
        <div id="map_view" style="height: 400px;width: 400px;"></div>
      </div>
    </div>
</div>



<div id="accordion" class="accordion">

    <div class="card">
    <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
        Cache Information
        </a>
    </div>
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th style="width:50%">Name</th>
                <th style="width:25%">Hints</th>
            </tr>
            </thead>
            <tbody>
                {% for cache in game.caches %}
                <tr>
                    <td>{{ cache.name }}</td>
                    <td>{{ cache.hint }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

    <div class="card">
    <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
        Players
        </a>
    </div>
    <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
        <div class="card-body">
            <table class="table" style="width:100%">
            <thead>
                <tr>
                <th style="width:50%">User Name</th>
                <th style="width:25%"># Caches Found</th>
                <th style="width:25%">View Caches</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>
                    
                       
                    </td>
                    <td>
                        <form method="post" action="{{url_for('supervise_game')}}">
                            <input type="submit" value="Caches">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>


<script src="./static/map_game.js"></script>

{% endblock %}